The datafile contains a series of money amounts in different currencies. Find out the total sums in each currency contained in this file.

Note: in some values, the decimal part is separated by a comma, and in some by a dot.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# read the file and inspect the first several rows
???

In [ ]:
# extract the currency symbol and put it into a separate column
df["Currency"] = ???

In [ ]:
# replace commas with dots, for consistency
df["Value"] = ???

In [ ]:
# extract the amount and put it into a separate column
df["Amount"] = ???

In [ ]:
# inspect the resulting columns
???

In [ ]:
# check if there are any missing values in any of the columns
df.isnull().sum()

In [ ]:
# before we can calculate sums, convert the Amount column to float
df["Amount"] = df["Amount"].astype("float")

In [ ]:
# sum up the values for each currency
???